body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(33, 3, 81);
    overflow: hiden;
    margin: 0;
    flex-direction: column;
    font-family: 'Press Start 2P', cursive;
    
}

.ribbon {
    z-index: -1;
    position: absolute;
    font-size: 3rem;
    opacity: 0.3;
    animation: float 5s infinite alternate ease-in-out;
}

@keyframes float {
    from { transform: translateY(0px); }
    to { transform: translateY(20px); }
}

body::before {
    content: "";
    font-size: 5rem;
    position: absolute;
    opacity: 0.3;
    top: 10%;
    left: 10%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.texto {
    color: rgb(195, 168, 223);
    font-size: 16px;
    font-family:'Press Start 2P', cursive;
}
.butao {
    align-items: center;
    font-family: 'Press Start 2P';
    color: rgb(200, 142, 238);
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    width: 100%;
    height: auto;
    justify-content: center;
    transition: transform 0.3 ease, background-color 0.3s ease;
}

.butao img {
    width: 120px;
    max-width: 100%;
    height: auto;
}

.butao img:active{
    transform: translateY(4px);
    background-color: rgb(189, 26, 143);

    
}
.butao img:hover {
    transform: scale(1.1);
    background-color: rgb(177, 49, 134);
}
#videoContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
    display: none;
    margin-top: 20px;
}

video {
    width: 80vw;
    max-width: 800px;
}

.presaveContainer {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.butaopresave {
    font-family: 'Press Start 2P';
    color: rgb(236, 160, 236);
    background-color: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 14px;
    
}

.butaopresave:hover {
    background-color: rgb(129, 57, 129);
}

.insta img {
    width: 70px;
    height: auto;
}


.clicaai{
    color: rgb(195, 168, 223);
    margin-top: 100px;
    font-size: 16px;
    font-family:'Press Start 2P', cursive;
}
.fonedfio {
    width: 40px;
    height: auto;
    transition: transform 0.3s ease;
    display: flex;
    margin-top: 1px;
    align-items: center;
    justify-content: center;
}

h2 {
    color:rgb(173, 150, 196);
    font-family:'Press Start 2P';
    text-shadow: 2px 2px 2px rgb(75, 64, 82);
}
header {
    position: absolute;
    width: 100%;
    top: 10px;
    left: 0;
    display: flex;
    justify-content: flex-start;
    padding: 10px 20px;
}

.top-left, .top-right {
    font-family: 'Press Start 2P';
    color: rgb(200, 142, 238);
    text-decoration: none;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 8px 12px;
    border-radius: 5px;
}

.top-left:hover, .top-right:hover {
    background-color: rgba(200, 142, 238, 0.6);
}

footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: left;
    font-family: 'Press Start 2P';
    color: rgb(200, 142, 238);
    font-size: 12px;
}

.caixa {
    width: 400px; /* Ajuste conforme necessário */
    height: 400px; /* Para não ficar muito largo em telas grandes */
    margin: 50px; 
    background-color: rgb(128, 43, 109); /* Cor de fundo do container */
    padding: 20px;
    border-radius: 15px; /* Bordas arredondadas */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    position: absolute;
    top: 110px;
    left: 500px;
    z-index: -1;
}